*[data-model] {
    display: none;
}

body,
h1, h2, h3, h4, h5, h6,
.label,
.badge,
.dropdown-menu {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}

.form-control-label {
    font-weight: bold !important;
}

.kt-nav .kt-nav__item > .kt-nav__sub .kt-nav__item > .kt-nav__sub .kt-nav__item > .kt-nav__link {
    padding: 0.5rem 1.5rem 0.5rem 3.5rem;
}

.kt-nav .kt-nav__item > .kt-nav__sub .kt-nav__item > .kt-nav__sub .kt-nav__item > .kt-nav__sub .kt-nav__item > .kt-nav__link {
    padding: 0.5rem 1.5rem 0.5rem 4.5rem;
}

.kt-nav .kt-nav__item > .kt-nav__sub .kt-nav__item > .kt-nav__sub .kt-nav__item > .kt-nav__sub .kt-nav__item > .kt-nav__sub .kt-nav__item > .kt-nav__link {
    padding: 0.5rem 1.5rem 0.5rem 5.5rem;
}

.kt-subheader .kt-subheader__main .kt-subheader__title {
    font-weight: bold;
}

/*#region portlet*/

.kt-portlet .kt-portlet__head {
    padding: 0 24px;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
    font-weight: bold;
}

.kt-portlet .kt-portlet__foot {
    padding: 12px 25px;
}

/*#endregion*/
/*#region btn*/
.btn-sm, .btn-group-sm > .btn {
    font-size: 1rem;
}

    .btn.btn-sm [class^="la-"],
    .btn-group-sm > .btn [class^="la-"],
    .btn.btn-sm [class*=" la-"],
    .btn-group-sm > .btn [class*=" la-"] {
        font-size: 1.3rem;
        margin-top: -3px;
    }

/*#endregion*/

/*#region table*/
.table {
    cursor: pointer;
}

    .table > thead > tr > th {
        font-weight: bold;
    }

    .table > thead > tr > th a {
        color: #595d6e;
    }

        .table > thead > tr > th a.sorted {
            color: #5d78ff;
        }

        .table > thead > tr > th i {
            font-size: .6rem;
            display: inline-block;
            position: relative;
            margin-top: -2px;
            margin-left: 6px;
            line-height: 0;
            vertical-align: middle;
        }


.table > thead > tr > th.table-checkbox,
.table > tbody > tr > td.table-checkbox {
    width: 50px;
}

    .table > tbody > tr > td.table-checkbox .kt-checkbox {
        margin-bottom: 0px;
        padding: 0px;
    }

    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        word-break: break-all;
        vertical-align: middle;
        white-space: nowrap;
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #595d6e;
    }

        .table > tbody > tr > td > .btn.btn-sm {
            margin: -1rem 0px -1rem 5px;
        }

            .table > tbody > tr > td > .btn.btn-sm:first-child {
                margin-left: 0px;
            }

        .table > tbody > tr > td > .btn.btn-icon {
            height: 2.2rem;
            width: 2.2rem;
        }

            .table > tbody > tr > td > .btn.btn-icon [class*=" la-"] {
                margin-top: 0px;
            }

.kt-portlet__body--fit .table > thead > tr > th:first-child,
.kt-portlet__body--fit .table > tbody > tr > td:first-child,
.kt-portlet__body--fit-x .table > thead > tr > th:first-child,
.kt-portlet__body--fit-x .table > tbody > tr > td:first-child {
    padding-left: 25px;
}

.kt-portlet__body--fit .table > thead > tr > th:last-child,
.kt-portlet__body--fit .table > tbody > tr > td:last-child,
.kt-portlet__body--fit-x .table > thead > tr > th:last-child,
.kt-portlet__body--fit-x .table > tbody > tr > td:last-child {
    padding-right: 25px;
}

.kt-portlet__body--fit .kt-pagination{
    padding: 0 13px 20px 20px;
}

.kt-portlet__body--fit-x .kt-pagination {
    padding: 0 20px;
}

/*#endregion*/

/*#region table*/

    .table.table-tree {
    }

        .table.table-tree svg {
            margin-top: -2px;
            margin-right: 12px;
            transition: all .3s;
        }

        .table.table-tree .table-row-slide.collapsed svg {
            transform: rotate(-90deg);
        }

        .table.table-tree > tbody > tr.table-row-level-1 td:first-child {
            padding-left: 38px;
        }

        .table.table-tree > tbody > tr.table-row-level-2 td:first-child {
            padding-left: 66px;
        }

        .table.table-tree > tbody > tr.table-row-level-3 td:first-child {
            padding-left: 94px;
        }

        .table.table-tree > tbody > tr.table-row-level-4 td:first-child {
            padding-left: 122px;
        }

        .table.table-tree > tbody > tr.table-row-level-5 td:first-child {
            padding-left: 150px;
        }

        .table.table-tree > tbody > tr.table-row-level-6 td:first-child {
            padding-left: 178px;
        }


/*#endregion*/

/*#region radio*/
.kt-radio-inline {
    height: 38.4px;
    padding: 8px 0;
}

/*#endregion*/

/*#region city-picker*/

.city-picker-input {
    padding: 0px;
    height: 0px;
}

.city-picker-span {
    display: block;
    width: 100%;
    padding: 0rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec !important;
    border-radius: 4px;
    margin-top: -1px;
}

    .city-picker-span > .placeholder {
        color: #747b94 !important;
    }

    .city-picker-span.focus,
    .city-picker-span.open {
        border-color: #66afe9;
        outline: 0;
    }

/*#endregion*/
