<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>Metronic | Dashboard</title>
    <meta name="description" content="Updates and statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @await Html.PartialAsync("_GlobalStyle.cshtml")

    @RenderSection("styles", required: false)

    <link rel="shortcut icon" href="media/logos/favicon.ico" />
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading" style="overflow-y: scroll;">
    @RenderBody()

    @await Html.PartialAsync("_GlobalScript.cshtml")

    @RenderSection("scripts", required: false)
</body>
<!-- end::Body -->
</html>