@page
@model ZDY.DMS.Web.Pages.Permission.UserGroupManagerModel

<div class="row">
    <div class="col-md-4">
        <portlet title="角色列表" data-model="user-group-list" is-height-fluid="true">
            <portlet-header-action-container>
                <button icon="Plus" state="Success" size="Sm" data-bind="click:handleAdd">新增角色</button>
            </portlet-header-action-container>

            <data-table is-show-checkbox-column="false">
                <cell data-bind="text:GroupName, click:$root.handleItemClick"></cell>
                <cell>
                    <button size="Sm" state="Brand" icon="Edit" is-only-icon="true" data-bind="click:$root.handleDetail"/>
                </cell>
            </data-table>
            <pager is-simpled="true"></pager>
        </portlet>
    </div>
    <div class="col-md-8">
        <portlet title="角色成员" data-model="user-list" is-height-fluid="true">
            <portlet-header-action-container>
                <button icon="Save" state="Success" size="Sm" data-bind="click:handleSaveGroupMember, visible:$root.selectData().length > 0">
                    保存成员
                </button>
            </portlet-header-action-container>
            <data-table is-show-action-column="false">
                <cell filed="UserName"></cell>
                <cell filed="NickName"></cell>
                <cell filed="Mobile"></cell>
                <cell filed="Gender"></cell>
            </data-table>
            <pager></pager>
        </portlet>
    </div>
</div>

<div data-model="user-group-form">
    <modal title="角色信息" id="modal-user-group">
        <div class="row">
            <div class="col-md-12">
                <text-box field="GroupName" is-required="true" name="角色名称" is-bind-computed="true"></text-box>
            </div>
        </div>
        <modal-footer dismiss-text="关闭">
            <button state="Danger" data-bind="click:$root.delete, visible:Id()">删除</button>
            <button state="Success" data-bind="click:update, visible:Id()">修改</button>
            <button state="Success" data-bind="click:add, visible:!Id()">提交</button>
        </modal-footer>
    </modal>
</div>

@section scripts {
    <script type="text/javascript">
        var userGroupTable = zdy.table().options({
            headers: [
                { text: '角色名称', field: 'GroupName' }
            ],
            defaultOrderBy: "TimeStamp",
            dataQueryUrl: 'PermissionGroup/Search'
        }).import(function () {
            var self = this

            this.CurrentGroupId = ko.observable()

            this.handleAdd = function () {
                userGroupForm.reset()
                zdy.modal.show("modal-user-group");
            }

            this.handleDetail = function (data) {
                userGroupForm.load(data)
                zdy.modal.show("modal-user-group");
            }

            this.handleItemClick = function (data) {
                self.CurrentGroupId(data.Id)
                userTable.handleLoadGroupMember()
            }

        }).bind("user-group-list").load();

        var userGroupForm = zdy.form().options({
            fields: [
                { field: 'Id', value: ko.observable() },
                { field: 'GroupName', value: ko.observable() }
            ],
            dataAddUrl: 'PermissionGroup/Add',
            dataUpdateUrl: 'PermissionGroup/Update',
            dataDeleteUrl: 'PermissionGroup/Delete'
        }).import(function () {

            this.afterAdd = function () {
                zdy.modal.hide("modal-user-group");
                userGroupTable.search()
            }

            this.afterUpdate = function () {
                zdy.modal.hide("modal-user-group");
                userGroupTable.search()
            }

            this.afterDelete = function () {
                zdy.modal.hide("modal-user-group");
                userGroupTable.search()
            }

        }).bind("user-group-form");

        var userTable = zdy.table().options({
            headers: [
                { text: '账号', field: 'UserName' },
                { text: '昵称', field: 'NickName' },
                { text: '手机号码', field: 'Mobile' },
                { text: '性别', field: 'Gender' }
            ],
            defaultOrderBy: "TimeStamp",
            dataQueryUrl: 'User/Search'
        }).import(function () {

            this.handleSaveGroupMember = function () {
                var groupId = userGroupTable.CurrentGroupId()

                if (groupId == 0) {
                    zdy.toastr.error("请先选择角色后再保存")
                    return
                }

                var members = userTable.selectData().map(function (item) {
                    return {
                        UserId: item
                    }
                })

                zdy.ajaxPost("Permission/AddUserGroupMember", {
                    groupId: groupId,
                    members: members
                }).done(function () {
                    zdy.toastr.success("保存成功")
                })
            }

            this.handleLoadGroupMember = function () {
                var groupId = userGroupTable.CurrentGroupId()
                zdy.ajaxPost("Permission/FindUserGroupMember", { groupId: groupId }).done(function (data) {
                    var rst = data.Data.map(function (item) {
                        return item.UserId
                    })
                    userTable.selectData(rst)
                })
            }

        }).bind("user-list").load();
    </script>
}

