@{
}
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
            <h2><a href="index.html">Zdyla Store <span>shop anywhere</span></a></h2>
        </div>
        <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
            <p>Copyright &copy; 2016.Company name All rights </p>
        </div>
    </div>
</div>
<!-- //footer -->
