@{
}
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @*<div class="header-grid">
                    <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                        <ul>
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">example.com</a></li>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
                            <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="login.html">Login</a></li>
                            <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="register.html">Register</a></li>
                        </ul>
                    </div>
                    <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
                        <ul class="social-icons">
                            <li><a href="#" class="facebook"></a></li>
                            <li><a href="#" class="twitter"></a></li>
                            <li><a href="#" class="g"></a></li>
                            <li><a href="#" class="instagram"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>*@
                <div class="logo-nav">
                    <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                        <a href="/">
                            <img src="~/images/logo.jpg" style="margin-top: -15px;" />
                        </a>
                    </div>
                    <div class="logo-nav-left1">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header nav_2">
                                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="/" class="act">首页</a></li>
                                    <!-- Mega Menu -->
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">所有商品 <b class="caret"></b></a>
                                        <div class="dropdown-menu multi-column columns-3">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <ul class="multi-column-dropdown">
                                                        <h6>男士</h6>
                                                        <li><a href="/products">服装 (Clothing)</a></li>
                                                        <li><a href="/products">钱包 (Wallets)</a></li>
                                                        <li><a href="/products">鞋类 (Shoes)</a></li>
                                                        <li><a href="/products">手表 (Watches)</a></li>
                                                        <li><a href="/products">配饰 (Accessories)</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-6">
                                                    <ul class="multi-column-dropdown">
                                                        <h6>女士</h6>
                                                        <li><a href="/products">服装 (Clothing)</a></li>
                                                        <li><a href="/products">钱包，手提包 (Wallets,Bags)</a></li>
                                                        <li><a href="/products">鞋类 (Shoes)</a></li>
                                                        <li><a href="/products">手表 (Watches)</a></li>
                                                        <li><a href="/products">配饰 (Accessories)</a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="/products">运动品牌</a></li>
                                    <li><a href="/products">时尚前沿</a></li>
                                    <li><a href="/products">潮流跟随</a></li>
                                    <li><a href="/mail">联系我们</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="logo-nav-right">
                        <div class="search-box">
                            <div id="sb-search" class="sb-search">
                                <form>
                                    <input class="sb-search-input" placeholder="输入您的搜索词……" type="search" id="search">
                                    <input class="sb-search-submit" type="submit" value="">
                                    <span class="sb-icon-search"> </span>
                                </form>
                            </div>
                        </div>
                        <!-- search-scripts -->
                        <script src="js/classie.js"></script>
                        <script src="js/uisearch.js"></script>
                        <script>
                            new UISearch(document.getElementById('sb-search'));
                        </script>
                        <!-- //search-scripts -->
                    </div>
                    <div class="header-right">
                        <div class="cart box_1">
                            <a href="/checkout">
                                <h3>
                                    <div class="total">
                                        购物车 (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> 件商品)
                                    </div>
                                    <img src="images/bag.png" alt="" />
                                </h3>
                            </a>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
