@model ZDY.DMS.DataObjects.ProductDataObjectList
@{

}
<div class="new-collections">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">最新上架</h3>
        <div class="new-collections-grids">


            @{
                var gridCount = 4;
                int itemCount = (int)Math.Ceiling(Convert.ToDouble(Model.Count() / gridCount));
            }

            @for (var i = 0; i < gridCount; i++)
            {
                <div class="col-md-3 new-collections-grid">

                    @for (var j = 0; j < itemCount; j++)
                    {
                        int index = i * itemCount + j;

                        var item = Model[index];

                        <div class="new-collections-grid1 products-right-grid1 simpleCart_shelfItem  animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="detail?id=@item.ID" class="product-image">
                                    <img src="@item.CoverUrl" alt=" " class="img-responsive item_image" />
                                </a>
                                <div class="new-collections-grid1-image-pos">
                                    <a href="detail?id=@item.ID">查看详情</a>
                                </div>
                                <div class="new-collections-grid1-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/1.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/1.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="detail?id=@item.ID" class="item_name">@item.ProductName</a></h4>
                            <p>@item.ProductName</p>
                            <div class="products-right-grid1-add-cart">
                                <p>
                                    <i>¥@Math.Round(item.Price * 10 / 7, 1)</i> 
                                    <span class="item_price">¥@Math.Round(item.Price, 1)</span>
                                    <a class="item_add" href="#">加入购物车 </a>
                                </p>
                            </div>
                        </div>

                    }

                </div>
            }

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
