@page
@model ZDY.DMS.Web.Pages.User.UserManagerModel

<div class="row">
    <div class="col-md-12">
        <portlet title="查询条件" fit="FitBottom" data-model="list">
            <div class="row">
                <div class="col-md-3">
                    <text-box field="UserName" name="账号"></text-box>
                </div>
                <div class="col-md-3">
                    <text-box field="NickName" name="昵称"></text-box>
                </div>
                <div class="col-md-3">
                    <text-box field="Name" name="姓名"></text-box>
                </div>
                <div class="col-md-3">
                    <text-box field="Mobile" name="手机号码"></text-box>
                </div>
            </div>
            <portlet-footer-action-container align="Right">
                <button size="Sm" data-bind="click:reset">重置条件</button>
                <button state="Success" size="Sm" data-bind="click:firstPage">点击查询</button>
            </portlet-footer-action-container>
        </portlet>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <portlet title="用户列表" fit="Fit" data-model="list">
            <portlet-header-action-container>
                <button state="Brand" icon="UserPlus" size="Sm" data-bind="click:$root.goto, attr: {'data-url': '/User/UserDetail'}">新增用户</button>
            </portlet-header-action-container>

            <data-table is-show-checkbox-column="false">
                <cell filed="UserName" />
                <cell filed="NickName" />
                <cell filed="Name" />
                <cell filed="Gender" />
                <cell filed="Mobile" />
                <cell filed="Email" />
                <cell />
                <cell align="Center">
                    <button size="Sm" is-outline="true" state="Brand" is-only-icon="true" icon="CommentO" data-bind="click:$root.goto, attr: {'data-url': '/User/UserDetail?id=' + Id}" />
                </cell>
            </data-table>

            <pager></pager>
        </portlet>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var table = zdy.table().options({
            fields: [
                { field: 'UserName', value: ko.observable(), method: zdy.querymethod.contains },
                { field: 'NickName', value: ko.observable(), method: zdy.querymethod.contains },
                { field: 'Name', value: ko.observable(), method: zdy.querymethod.contains },
                { field: 'Mobile', value: ko.observable(), method: zdy.querymethod.contains }
            ],
            headers: [
                { text: '账号', field: 'UserName' },
                { text: '昵称', field: 'NickName' },
                { text: '姓名', field: 'Name' },
                { text: '性别', field: 'Gender' },
                { text: '手机号码', field: 'Mobile' },
                { text: '电子邮箱', field: 'Email' },
                { text: '用户状态', field: 'IsDisabled' }
            ],
            defaultOrderBy: "TimeStamp",
            dataQueryUrl: 'User/Search'
        }).import(function () {

        }).bind("list").load();
    </script>
}
