@page
@model ZDY.DMS.Web.Pages.Admin.DictionaryManagerModel

<div class="row">
    <div class="col-md-6">
        <portlet title="字典管理" data-model="key-form">
            <portlet-header-action-container>
                <button size="Sm" data-bind="click:reset">重置</button>
                <button size="Sm" state="Danger" data-bind="click:$root.delete, visible:Id()">删除</button>
                <button size="Sm" state="Success" data-bind="click:update, visible:Id()">修改</button>
                <button size="Sm" state="Success" data-bind="click:add, visible:!Id()">新增标识</button>
            </portlet-header-action-container>
            <div class="row">
                <div class="col-md-6">
                    <text-box field="Name" is-required="true" name="名称"></text-box>
                </div>
                <div class="col-md-6">
                    <text-box field="Code" is-required="true" name="标识"></text-box>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <text-box field="Order" is-required="true" name="排序" text-box-type="Number"></text-box>
                </div>
                <div class="col-md-6">
                    <select-box field="Type" is-required="true" name="类型" options="@Model.DictionaryKinds"></select-box>
                </div>
            </div>
        </portlet>
        <portlet title="字典管理" fit="Fit" is-height-fluid="true" data-model="key-table">
            <div class="row">
                <div class="col-md-12">
                    <data-table is-show-checkbox-column="false" row-click-func="handleRowClick">
                        <column filed="Name" text="名称"></column>
                        <column filed="Code" text="标识"></column>
                        <column filed="Order" align="Center" text="排序"></column>
                        <column align="Center" text="类型">
                            <lable data-bind="state: $root.dic('DictionaryKinds', Type, true)"></lable>
                        </column>
                        <column align="Center" text="操作" width="1">
                            <button size="Sm" is-outline="true" state="Brand" is-only-icon="true" icon="Pencil" data-bind="click:$root.handleDetail" />
                        </column>
                    </data-table>
                    <pager></pager>
                </div>
            </div>
        </portlet>
    </div>
    <div class="col-md-6">
        <portlet title="字典数据" data-model="value-form">
            <portlet-header-action-container>
                <button size="Sm" data-bind="click:reset">重置</button>
                <button size="Sm" state="Danger" data-bind="click:$root.delete, visible:Id()">删除</button>
                <button size="Sm" state="Success" data-bind="click:update, visible:Id()">修改</button>
                <button size="Sm" state="Success" data-bind="click:add, visible:!Id(), enable:DictionaryKey()">新增数据</button>
            </portlet-header-action-container>
            <div class="row">
                <div class="col-md-6">
                    <text-box field="Name" is-required="true" name="名称"></text-box>
                </div>
                <div class="col-md-6">
                    <text-box field="Order" is-required="true" name="排序" text-box-type="Number"></text-box>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <text-box field="Value" is-required="true" name="值"></text-box>
                </div>
                <div class="col-md-6">
                    <text-box field="ParentValue" name="父级值"></text-box>
                </div>
            </div>
        </portlet>
        <portlet title="字典数据" fit="Fit" is-height-fluid="true" data-model="value-table">
            <div class="row">
                <div class="col-md-12">
                    <data-table is-show-checkbox-column="false">
                        <column filed="Name" text="名称"></column>
                        <column filed="Value" text="当前值" style="overflow:auto; white-space: normal;"></column>
                        <column filed="ParentValue" text="父级值"></column>
                        <column filed="Order" align="Center" text="排序"></column>
                        <column align="Center" text="操作">
                            <button size="Sm" is-outline="true" state="Brand" is-only-icon="true" icon="Pencil" data-bind="click:$root.handleDetail" />
                        </column>
                    </data-table>
                </div>
            </div>
        </portlet>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var keyTable = zdy.table().options({
            defaultOrderBy: "Order",
            dataQueryUrl: 'DictionaryKey/Search'
        }).import(function () {

            this.dic(dictionary)

            this.handleRowClick = function (data) {
                valueTable.DictionaryKey(data.Code)
                valueForm.DictionaryKey(data.Code)
                valueTable.search()
            }

            this.handleDetail = function (data, e) {
                keyForm.load(data)
            }

        }).bind("key-table").load()

        var keyForm = zdy.form().options({
            fields: [
                { field: 'Id', value: ko.observable() },
                { field: 'Name', value: ko.observable() },
                { field: 'Code', value: ko.observable() },
                { field: 'Order', value: ko.observable() },
                { field: 'Type', value: ko.observable() }
            ],
            dataAddUrl: 'DictionaryKey/Add',
            dataUpdateUrl: 'DictionaryKey/Update',
            dataDeleteUrl: 'DictionaryKey/Delete'
        }).import(function () {

            this.afterAdd = function () {
                this.reset();
                keyTable.search()
            }

            this.afterUpdate = function () {
                this.reset();
                keyTable.search()
            }

            this.afterDelete = function () {
                this.reset();
                keyTable.search()
            }

        }).bind("key-form")

        var valueTable = zdy.table().options({
            fields: [
                { field: 'DictionaryKey', value: ko.observable(), method: zdy.querymethod.equal }
            ],
            pageSize: 10000,
            defaultOrderBy: "Order",
            dataQueryUrl: 'DictionaryValue/Search',
            isAsc: true
        }).import(function () {

            this.handleDetail = function (data) {
                valueForm.load(data)
            }

        }).bind("value-table")

        var valueForm = zdy.form().options({
            fields: [
                { field: 'Id', value: ko.observable() },
                { field: 'DictionaryKey', value: ko.observable() },
                { field: 'Name', value: ko.observable() },
                { field: 'Value', value: ko.observable() },
                { field: 'ParentValue', value: ko.observable() },
                { field: 'Order', value: ko.observable() }
            ],
            dataAddUrl: 'DictionaryValue/Add',
            dataUpdateUrl: 'DictionaryValue/Update',
            dataDeleteUrl: 'DictionaryValue/Delete'
        }).import(function () {

            this.afterAdd = function () {
                this.reset();
                valueTable.search()
            }

            this.afterUpdate = function () {
                this.reset();
                valueTable.search()
            }

            this.afterDelete = function () {
                this.reset();
                valueTable.search()
            }

        }).bind("value-form")
    </script>
}
