@page
@model ZDY.DMS.Web.Pages.Admin.LogManagerModel

<div class="row">
    <div class="col-md-12">
        <portlet title="查询条件" fit="FitBottom" data-model="list">
            <div class="row">
                <div class="col-md-3">
                    <text-box field="Message" name="关键字"></text-box>
                </div>
                <div class="col-md-3">
                    <select-box field="Type" name="类型" options="@Model.LogKinds"></select-box>
                </div>
                <div class="col-md-3">
                    <text-box field="TimeStamp_Start" is-use-datetime-picker="true" name="时间范围(开始)"></text-box>
                </div>
                <div class="col-md-3">
                    <text-box field="TimeStamp_End" is-use-datetime-picker="true" name="时间范围(结束)"></text-box>
                </div>
            </div>
            <portlet-footer-action-container align="Right">
                <button size="Sm" data-bind="click:reset">重置条件</button>
                <button size="Sm" state="Success" data-bind="click:firstPage">点击查询</button>
            </portlet-footer-action-container>
        </portlet>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <portlet title="日志列表" fit="Fit" data-model="list">
            <data-table is-show-checkbox-column="false">
                <cell filed="Message" style="width: 100%;"></cell>
                <cell filed="TimeStamp"></cell>
                <cell>
                    <lable data-bind="state: $root.dic('LogKinds', Type, true)"></lable>
                </cell>
                <cell>
                    <button size="Sm" is-outline="true" state="Brand" is-only-icon="true" icon="Comment" data-bind="click:$root.detail">
                        查看
                    </button>
                </cell>
            </data-table>

            <pager></pager>
        </portlet>
    </div>
</div>

<div data-model="form">
    <modal title="日志信息" id="modal-detail" size="Lg">
        <modal-body>
            <p data-bind="html:Message"></p>
            <p>时间：<!-- ko text: TimeStamp --><!-- /ko --></p>
            <p>类型：<!-- ko text: TypeName --><!-- /ko --></p>
        </modal-body>
        <modal-footer dismiss-text="关闭"></modal-footer>
    </modal>
</div>

@section scripts{
    <script type="text/javascript">

        var table = zdy.table().options({
                fields: [
                    { field: 'Message', value: ko.observable(), method: zdy.querymethod.contains },
                    { field: 'TimeStamp_Start', value: ko.observable(), method: zdy.querymethod.greaterThanOrEqual },
                    { field: 'TimeStamp_End', value: ko.observable(), method: zdy.querymethod.lessThanOrEqual },
                    { field: 'Type', value: ko.observable(), method: zdy.querymethod.equal }
                ],
                headers: [
                    { text: '信息', field: 'Message', width: 'auto' },
                    { text: '时间', field: 'TimeStamp', width: 'auto' },
                    { text: '类型', field: 'Type', width: 'auto' }
                ],
                pageSize: 20,
                defaultOrderBy: "TimeStamp",
                dataQueryUrl: 'Log/Search'
            }).import(function () {

            this.dic(dictionary)

            this.detail = function (data) {
                form.load(data);
                zdy.modal.show("modal-detail");
            }
        }).bind("list").load();

        var form = zdy.form().options({
            fields: [
                { field: 'Message', value: ko.observable() },
                { field: 'TimeStamp', value: ko.observable() },
                { field: 'Type', value: ko.observable() }
            ]
        }).import(function () {

            this.dic(dictionary)

            this.TypeName = ko.computed(function () {
                return this.dic("LogKinds", this.Type())
            }, this)

        }).bind("form")
    </script>
}
