@page
@model ZDY.DMS.Web.Pages.Admin.PageTreeModel
@{ Layout = null;}



@if (Model.Pages.Count > 0)
{

    <tree-table fields="@Model.Fields" dataset="@Model.Pages">
        <tree-table-template-column display-name="排序" field-name="Order" is-centered="true">
            <badge state="Warning" text="{0}" />
        </tree-table-template-column>
        <tree-table-template-column display-name="加入菜单？" field-name="IsInMenu" is-centered="true">
            {0}
        </tree-table-template-column>
        <tree-table-template-column display-name="编辑" width="1" is-centered="true">
            <button size="Sm" is-outline="true" state="Primary" is-only-icon="true" icon="Pencil" class-names="page-edit" />
        </tree-table-template-column>
    </tree-table>

}
else
{

    <h3 class="text-center mt-5">暂无页面数据！</h3>

}

