@page
@model ZDY.DMS.Web.Pages.Admin.PageManagerModel

<div class="row">
    <div class="col-md-8">
        <portlet title="所有页面" fit="Fit" data-model="pages">
            <portlet-header-action-container>
                <button size="Sm" state="Brand" icon="Plus" data-bind="click:newBrother, visible:CurrentPage()">
                    同级
                </button>
                <button size="Sm" state="Dark" icon="Plus" data-bind="click:newChild, visible:CurrentPage()">
                    子级
                </button>
            </portlet-header-action-container>

            <div class="kt-scroll" data-scroll="true" data-height="756">
                <div id="pages-container"></div>
            </div>
        </portlet>
    </div>
    <div class="col-md-4">
        <portlet title="页面信息" data-model="form" is-height-fluid="true">
            <div class="row">
                <div class="col-md-12">
                    <text-box field="PageName" name="页面名称" is-required="true"></text-box>
                </div>
                <div class="col-md-12">
                    <text-box field="PageCode" name="页面代码" is-required="true"></text-box>
                </div>
                <div class="col-md-12">
                    <text-box field="MenuName" name="菜单名称" is-required="true"></text-box>
                </div>
                <div class="col-md-12">
                    <text-box field="Src" name="菜单链接" is-required="true"></text-box>
                </div>
                <div class="col-md-12">
                    <select-box field="Icon" options="@Model.IconSource" name="菜单图标" is-place-holder-destroyed="true" bind="select2:{templateResult: select2Template, templateSelection: select2Template, width: '100%', value: Icon()}"></select-box>
                </div>
                <div class="col-md-12">
                    <text-box field="Order" name="页面排序(数值越小越靠前)" kind="Number" is-required="true"></text-box>
                </div>
                <div class="col-md-6">
                    <check-box field="IsInMenu" name="加入菜单？" text="是否在用户菜单中显示此页面"></check-box>
                </div>
                <div class="col-md-6">
                    <check-box field="IsDisabled" name="禁用页面？" text="是否将此页面在所有用户菜单中移除"></check-box>
                </div>
            </div>
            <portlet-footer-action-container align="Right">
                <button size="Sm" data-bind="click:reset">重置</button>
                <button size="Sm" state="Danger" data-bind="click:$root.delete, visible:Id()">删除</button>
                <button size="Sm" state="Success" data-bind="click:update, visible:Id()">修改</button>
                <button size="Sm" state="Success" data-bind="click:add, visible:!Id()">提交</button>
            </portlet-footer-action-container>
        </portlet>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var pages = zdy.module().import(function () {

            this.CurrentPage = ko.observable()

            this.newChild = function () {
                form.reset()
                form.ParentId(this.CurrentPage().Id)
            }

            this.newBrother = function () {
                form.reset()
                form.ParentId(this.CurrentPage().ParentId)
            }

            this.load = function () {
                this.CurrentPage(undefined);

                zdy.loadPage("/Admin/PageTree").done(function (res) {
                    $("#pages-container").html(res);

                    $(".page-edit").click(function () {
                        var data = $(this).closest("tr").data("json")
                        if (data) {
                            form.load(data)
                            pages.CurrentPage(data)
                        }
                    })
                })

                return this;
            }

        }).bind("pages").load()

        var form = zdy.form().options({
            fields: [
                { field: 'Id', value: ko.observable() },
                { field: 'ParentId', value: ko.observable() },
                { field: 'PageName', value: ko.observable() },
                { field: 'PageCode', value: ko.observable() },
                { field: 'MenuName', value: ko.observable() },
                { field: 'IsInMenu', value: ko.observable(true) },
                { field: 'Src', value: ko.observable() },
                { field: 'Icon', value: ko.observable() },
                { field: 'Order', value: ko.observable(0) },
                { field: 'IsDisabled', value: ko.observable(false) }
            ],
            dataAddUrl: 'Page/Add',
            dataUpdateUrl: 'Page/Update',
            dataDeleteUrl: 'Page/Delete'
        }).import(function () {

            this.afterAdd = function (data) {
                pages.load()
                this.reset()
            }

            this.afterUpdate = function (data) {
                pages.load()
                this.reset()
            }

            this.afterDelete = function () {
                pages.load()
                this.reset()
            }

            this.select2Template = function (state) {
                if (state.id !== undefined) {
                    var $state = $(
                        "<span><img style='width: 20px; height: 20px; margin-top: -2px; margin-right: 8px;' src='/media/icons/svg/" + state.text + "'/> " + state.id + "</span>"
                    );
                    return $state;
                }
            }

        }).bind("form")
    </script>
}
