@page
@model ZDY.DMS.Web.Pages.Admin.PageTreeModel
@{ Layout = null;}



@if (Model.Navs.Count > 0)
{

    <navigation navs="@Model.Navs" bullet="Dot" />

}
else
{

    <h3 class="text-center demo-height">暂无部门数据！</h3>

}

