@page
@model ZDY.DMS.Web.Pages.Organization.CompanyManagerModel

<div class="row">
    <div class="col-md-12">
        <portlet title="查询条件" fit="FitBottom" data-model="list">
            <div class="row">
                <div class="col-md-3">
                    <text-box field="CompanyName" name="公司名称"></text-box>
                </div>
                <div class="col-md-3">
                    <text-box field="Phone" name="电话号码"></text-box>
                </div>
                <div class="col-md-3">
                    <text-box field="Fax" name="传真号码"></text-box>
                </div>
                <div class="col-md-3">
                    <text-box field="Address" name="公司地址"></text-box>
                </div>
            </div>
            <portlet-footer-action-container align="Right">
                <button size="Sm" data-bind="click:reset">重置条件</button>
                <button state="Success" size="Sm" data-bind="click:firstPage">点击查询</button>
            </portlet-footer-action-container>
        </portlet>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <portlet title="公司列表" fit="Fit" data-model="list">
            <portlet-header-action-container>
                <button state="Brand" icon="PlusCircle" size="Sm" route-to="/Organization/CompanyDetail">新增公司</button>
            </portlet-header-action-container>

            <data-table is-show-checkbox-column="false">
                <column filed="CompanyName" text="公司名称"/>
                <column filed="Phone" text="电话号码"/>
                <column filed="Fax" text="传真号码"/>
                <column text="省市区域">
                    <!-- ko text:Province --><!-- /ko --> <!-- ko text:City --><!-- /ko -->
                </column>
                <column filed="Address" text="公司地址"></column>
                <column align="Center" text="操作" width="1">
                    <button size="Sm" is-outline="true" state="Brand" icon="Home" is-only-icon="true" tooltip="部门" route-to="'/Organization/DepartmentManager?companyId=' + Id"/>
                    <button size="Sm" is-outline="true" state="Success" icon="Edit" is-only-icon="true" route-to="'/Organization/CompanyDetail?id=' + Id"/>
                </column>
            </data-table>

            <pager></pager>
        </portlet>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var table = zdy.table().options({
            fields: [
                { field: 'CompanyName', value: ko.observable(), method: zdy.querymethod.contains },
                { field: 'Phone', value: ko.observable(), method: zdy.querymethod.contains },
                { field: 'Fax', value: ko.observable(), method: zdy.querymethod.contains },
                { field: 'Address', value: ko.observable(), method: zdy.querymethod.contains }
            ],
            defaultOrderBy: "TimeStamp",
            dataQueryUrl: 'Company/Search'
        }).import(function () {

        }).bind("list").load();
    </script>
}

