@page
@model ZDY.DMS.Web.Pages.Organization.DepartmentTreeModel
@{
    Layout = null;
}

@if (Model.DepartmentData.Count() > 0)
{

    <tree-table tree-table-head-data="@Model.TreeTableHeads" tree-table-body-data="@Model.TreeTableItems">
        <tree-table-action class="">
            <button size="Xs" color="YellowCasablanca" icon="Plus" data-action="newBrother">
                同级
            </button>
            <button size="Xs" color="BlueDark" icon="Plus" data-action="newChild">
                子级
            </button>
            <button size="Xs" color="GreenSeagreen" icon="Edit" data-action="detailThis">
                编辑
            </button>
        </tree-table-action>
    </tree-table>

}
else
{

    <div class="text-center demo-height">暂无部门数据！</div>

}



