@page
@model ZDY.DMS.Web.Pages.Organization.DepartmentManagerModel

<div class="row">
    <div class="col-md-8">
        <portlet title="所有部门" fit="Fit" data-model="departments">
            <portlet-header-action-container>
                <button size="Sm" state="Brand" icon="Plus" data-bind="click:newBrother, visible:CurrentDepartment()">
                    同级
                </button>
                <button size="Sm" state="Dark" icon="Plus" data-bind="click:newChild, visible:CurrentDepartment()">
                    子级
                </button>
            </portlet-header-action-container>

            <scroll-viewer height="660">
                <div id="departments-container"></div>
            </scroll-viewer>
        </portlet>
    </div>
    <div class="col-md-4">
        <portlet title="部门信息" data-model="form" is-height-fluid="true">
            <div class="row">
                <div class="col-md-12">
                    <text-box field="DepartmentName" name="部门名称" is-required="true"></text-box>
                </div>
                <div class="col-md-12">
                    <text-box field="Phone" name="部门电话" is-required="true"></text-box>
                </div>
                <div class="col-md-12">
                    <text-box field="Fax" name="传真"></text-box>
                </div>
                <div class="col-md-12">
                    <text-box field="Order" name="排序(数值越小越靠前)" kind="Number" is-required="true"></text-box>
                </div>
                <div class="col-md-12">
                    <text-box field="Note" name="备注" kind="Textarea"></text-box>
                </div>
            </div>
            <portlet-footer-action-container align="Right">
                <button size="Sm" data-bind="click:reset">重置</button>
                <button size="Sm" state="Danger" data-bind="click:$root.delete, visible:Id()">删除</button>
                <button size="Sm" state="Success" data-bind="click:update, visible:Id()">修改</button>
                <button size="Sm" state="Success" data-bind="click:add, visible:!Id()">提交</button>
            </portlet-footer-action-container>
        </portlet>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var departments = zdy.module().import(function () {

            this.CurrentDepartment = ko.observable()

            this.newChild = function () {
                form.reset()
                form.ParentId(this.CurrentDepartment().Id)
            }

            this.newBrother = function () {
                form.reset()
                form.ParentId(this.CurrentDepartment().ParentId)
            }

            this.load = function () {
                this.CurrentDepartment(undefined);

                zdy.loadPage("/Organization/DepartmentTree?companyId=@Model.CompanyId").done(function (res) {
                    $("#departments-container").html(res);

                    $(".department-edit").click(function () {
                        var data = $(this).closest("tr").data("json")
                        if (data) {
                            form.load(data)
                            departments.CurrentDepartment(data)
                        }
                    })
                })

                return this;
            }

        }).bind("departments").load();

        var form = zdy.form().options({
            fields: [
                { field: 'Id', value: ko.observable() },
                { field: 'CompanyId', value: ko.observable('@Model.CompanyId') },
                { field: 'DepartmentName', value: ko.observable() },
                { field: 'Phone', value: ko.observable() },
                { field: 'Fax', value: ko.observable() },
                { field: 'Note', value: ko.observable() },
                { field: 'Order', value: ko.observable(0) },
                { field: 'ParentId', value: ko.observable() }
            ],
            dataAddUrl: 'Department/Add',
            dataUpdateUrl: 'Department/Update',
            dataDeleteUrl: 'Department/Delete'
        }).import(function () {

            this.afterAdd = function (data) {
                departments.load()
                this.reset()
            }

            this.afterUpdate = function (data) {
                departments.load()
                this.reset()
            }

            this.afterDelete = function () {
                departments.load()
                this.reset()
            }

        }).bind("form").load({})
    </script>
}


