@page
@model ZDY.DMS.Web.Pages.WorkFlow.WorkFlowInstanceManagerModel

<div class="row">
    <div class="col-md-12">
        <portlet title="查询条件" fit="FitBottom" data-model="list">
            <div class="row">
                <div class="col-md-3">
                    <text-box field="Title" name="实例名称"></text-box>
                </div>
                <div class="col-md-3">
                    <text-box field="FlowName" name="所属流程"></text-box>
                </div>
                <div class="col-md-3">
                    <text-box field="LastExecuteStepName" name="行进步骤"></text-box>
                </div>
                <div class="col-md-3">
                    <text-box field="CreaterName" name="创建人员"></text-box>
                </div>
            </div>
            <portlet-footer-action-container align="Right">
                <button size="Sm" data-bind="click:reset">重置条件</button>
                <button size="Sm" state="Success" data-bind="click:firstPage">点击查询</button>
            </portlet-footer-action-container>
        </portlet>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <portlet title="实例列表" fit="Fit" data-model="list">
            <data-table is-show-checkbox-column="false">
                <column filed="Title" text="实例名称"></column>
                <column filed="FlowName" text="所属流程"></column>
                <column filed="LastExecuteStepName" text="行进步骤"></column>
                <column filed="CreaterName" text="创建人员"></column>
                <column filed="TimeStamp" text="创建时间"></column>
                <column filed="LastModifyTime" text="归档时间"></column>
                <column align="Center" text="实例状态">
                    <lable data-bind="state: $root.dic('WorkFlowInstanceState', State, true)"></lable>
                </column>
                <column align="Center" text="操作" width="1">
                    <button size="Sm" state="Brand" icon="Git" is-only-icon="true" data-bind="click:$root.handleShowProcess">详情</button>
                </column>
            </data-table>
            <pager></pager>
        </portlet>
    </div>
</div>

<modal title="审批过程" id="modal-work-process" size="Lg">
    <div class="row">
        <div class="col-md-12">
            <iframe id="work-process" frameborder="0" scrolling="no" style="width: 100%; border: none; height: 480px;"></iframe>
        </div>
    </div>
</modal>

@section scripts{
    <script type="text/javascript">

        var table = zdy.table().options({
            fields: [
                { field: 'Title', value: ko.observable(), method: zdy.querymethod.contains },
                { field: 'FlowName', value: ko.observable(), method: zdy.querymethod.contains },
                { field: 'LastExecuteStepName', value: ko.observable(), method: zdy.querymethod.contains },
                { field: 'CreaterName', value: ko.observable(), method: zdy.querymethod.contains }
            ],
            defaultOrderBy: "TimeStamp",
            dataQueryUrl: 'WorkFlowInstance/Search'
        }).import(function () {

            this.dic(dictionary)

            this.handleShowProcess = function (item) {
                $("#work-process").attr("src", "/WorkFlow/WorkFlowProcess?id=" + item.Id);
                zdy.modal.show("modal-work-process");
            }

        }).bind("list").load();

    </script>
}

