<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cn">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Metronic Admin Theme #3 | Fixed Mega Menu</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for " name="description" />
    <meta content="" name="author" />
    @await Html.PartialAsync("_GlobalStyle.cshtml")
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/global/css/custom.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", required: false)
    <!-- END THEME LAYOUT STYLES -->
    <script type="text/javascript">
        var ui = "_Layout3";
    </script>
    @await Html.PartialAsync("_GlobalScript.cshtml")
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<!-- END HEAD -->
<body class="page-container-bg-solid page-header-menu-fixed" style="background:#eff3f8;">
    @RenderBody()
</body>
</html>
@RenderSection("scripts", required: false)